# ---- Python / Django ----
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc

# virtual envs
venv/
.env
.venv/
tkdjango/.venv/
tkdworld/

# DB (اگر sqlite استفاده می‌کنی)
db.sqlite3

# static/media (اگر خروجی build هستن)
static/
media/
tkdjango/staticfiles/
tkdjango/media/

# Django cache / tmp / logs
tkdjango/logs/
tkdjango/tmp/
tkdjango/stderr.log

# Backup files
*.bak.*
*.bak
*.old
*.zip

# Node / React
tkdfrontend/node_modules/
tkdfrontend/build/
tkdfrontend/.next/

# Editor junk
.vscode/
.idea/
.DS_Store

# چیزهای اضافی عجیب
tkdjango/True
tkdjango/div
"tkdjango/\357\270\217"
