.lightbox-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 16px;
}


.lightbox-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px; /* فضای خالی برای دکمه‌ها از چپ و راست */

}

.lightbox-close {
     position: absolute;
    top: -15px;
    right: 1px;
    font-size: 39px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.lightbox-nav {
  position: absolute;
  top: 50%;
  font-size: 48px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
  user-select: none;
}

.lightbox-nav.left {
  left: 0px;
}

.lightbox-nav.right {
  right: 0px;
}

.zoom-container {
  overflow: hidden;
  max-height: 80vh;
  border-radius: 8px;
}

.lightbox-image {
  max-width: 100%;
  max-height: 97vh;
  transition: transform 0.3s ease;
  user-select: none;
  pointer-events: auto;
  display: block;
  margin: 0 auto;
  cursor: zoom-in;
}

/* =========================
   Mobile Responsive Final
========================= */

@media (max-width:768px){

    .lightbox-overlay{

        padding:8px;

        box-sizing:border-box;

    }



    .lightbox-content{

        width:100%;

        max-width:100%;

        max-height:100vh;

        padding:0;

        overflow:hidden;

    }



    .lightbox-nav{

        display:none;

    }



    .lightbox-close{

        top:8px;

        right:8px;

        font-size:30px;

        z-index:5;

    }



    .zoom-container{

        width:100%;

        max-height:90vh;

        overflow:hidden;

        border-radius:8px;

        display:flex;

        justify-content:center;

        align-items:center;

    }



    .lightbox-image{

        width:auto;

        max-width:100%;

        max-height:85vh;

        object-fit:contain;

        transform:none !important;

        cursor:default;

    }

}



/* گوشی کوچک */

@media(max-width:400px){


    .lightbox-overlay{

        padding:5px;

    }



    .lightbox-close{

        font-size:26px;

        top:5px;

        right:5px;

    }



    .zoom-container{

        max-height:88vh;

    }



    .lightbox-image{

        max-height:80vh;

    }

}